html {
  scroll-behavior: smooth;
}
.bg-even {
  background-color: rgb(230, 230, 230);
}
.btn-wrap {
  word-break: break-word;
  white-space: normal;
}
#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.navbar {
  border-bottom: 1px solid rgba(204, 204, 204, 0);
  transition-duration: 0.3s;
}
.border-b {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  transition-duration: 0.3s;
}

#block-for-slider {
  width: 100%;
  margin: 0 auto;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 6);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100% / 6);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
}